﻿@*@model IEnumerable<Accounting_Final_Details.Models.Registration>*@

@model Accounting_Final_Details.Models.Registration

@{
    ViewBag.Title = "ListRegistrationDetails";
    //  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["Role"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}



<main>
    <div class="container-fluid">
        <h2 class="mt-4">Registration !</h2>
        @*<ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index">Dashboard</a></li>

            </ol>*@

        <hr />
        <section class="section alert-section">
            <div class="alert alert-info" style="background:#29d2e4;">
                <div class="alert-container">

                    <i class="fa fa-info-circle"></i>
                    <b class="alert-info" style="background:#29d2e4">Info alert:</b> You've got some friends nearby, stop looking at your phone and find them...
                </div>
            </div>
        </section>






        @*<div class="card mb-4">
                <div class="card-body">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>.</div>
            </div>*@

        <div class="form-row">
            <div class="col">
                <div class="alert alert-success" id="success-alert" style="display:none" role="alert">
                    <i class="far fa-check-circle"></i> @TempData["SaveRegMsg"] @TempData["UpdatRegMsg"]
                </div>
            </div>

            <div class="col text-right" style="padding-top:10px;padding-bottom:10px">
                <button type="button" onclick="Create()" class="btn btn-info "><i class="fa fa-plus"></i> Add</button>
            </div>

        </div>

        <script>
            $(document).ready(function () {

                var SaveMsg = "@TempData["SaveRegMsg"]";

                var UpdateMsg = "@TempData["UpdatRegMsg"]";


                if (SaveMsg != "") {
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                    });
                }

                if (UpdateMsg != "") {
                    $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#success-alert").slideUp(500);
                    });
                }
            });
        </script>



        @*<div class="container text-right" style="margin-bottom:10px;">

            </div>*@

        <div class="card mb-4">
            <div class="card-header"><i class="fas fa-table mr-1"></i>Registration</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <td>
                                    <b>   @Html.DisplayNameFor(model => model.RID)</b>
                                </td>
                                <th style="padding-right:150px">
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Contact)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>


                                <th style="padding-right:60px">
                                    @Html.DisplayNameFor(model => model.RegisteredDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActiveStatus)
                                </th>


                                <th style="padding-right:80px">
                                    Actions
                                </th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td>
                                    <b>@Html.DisplayNameFor(model => model.RID)</b>
                                </td>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Contact)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Password)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.RegisteredDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActiveStatus)
                                </th>

                                <th>
                                    Actions
                                </th>


                            </tr>
                        </tfoot>
                        <tbody>

                            @foreach (var item in ViewBag.ListRgstDtl)
                            {
                                <tr>
                                    <td>
                                        @item.Rgst.RID
                                    </td>
                                    <td>
                                        @item.Rgst.Name
                                    </td>
                                    <td>
                                        @item.Rgst.EmailID
                                    </td>
                                    <td>
                                        @item.Rgst.Contact
                                    </td>
                                    <td>
                                        @item.Rgst.UserName
                                    </td>
                                    <td>
                                        @item.Rgst.Password
                                    </td>

                                    <td>
                                        @Convert.ToDateTime(item.Rgst.RegisteredDate).ToString("dd-MM-yyyy")

                                    </td>
                                    <td>

                                        <div class="image-container">
                                            <a href="/Admin/ActiveStatusRgst/@item.Rgst.RID" class="status-tag" style="padding:0px;padding-left:1px;padding-right:1px;display:inline-block; border-radius:4px; color:#fff;width:70px;text-align:center; text-decoration:none">@item.ActStats.ActStsName</a>
                                        </div>

                                    </td>

                                    <td>

                                        <a class="text-info" href="/Admin/UserAccess/@item.Rgst.RID"> <i class="fas fa-external-link-alt" style="font-size:23px"></i></a> &nbsp;

                                        <a class="text-info" href="#" onclick="Edit(@item.Rgst.RID)"> <i class="fa fa-edit" style="font-size:23px"></i></a> &nbsp;

                                        <a class="text-danger" href="/Admin/DeletRegistration/@item.Rgst.RID" onclick="return confirm('Are you sure?')"><i class="fas fa-trash-alt" style="font-size:23px"></i></a>

                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



@*Model Of Insert Update Delete*@

<div class="modal fade" id="ShowModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="Create" style="display:none;">Add Registration</h4>
                <h4 class="Edit" style="display:none;">Edit Registration</h4>

                <a href="#" class="close" data-dismiss="modal">&times;</a>


            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
                {
                    @*<form id="Registration" action="/Admin/AddRegistrationDetail" method="post">*@

                    @*@Html.HiddenFor(model => model.RID, new { htmlAttributes = new { @class = "form-control RID"} })*@


                    @Html.HiddenFor(m => m.RID, new { @class = "form-control RID", @name = "RID", })

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control Name", placeholder = "Full Name" } })


                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })


                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-paper-plane"></i>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control EmailID Eemail", placeholder = "Email Address", onchange = "CheckEmailIdExistorNots()" } })
                            <div class="d-flex align-items-center" style="">
                                <i id="EValid" class="fas fa-check-circle text-success" style="display:none;   margin-left:10px;"></i>
                                <i id="EInvalid" class="fas fa-exclamation-circle text-danger" style="display:none;margin-left:10px;"></i>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                        <div class="text-danger" style="display:none;" id="Ewrong"><i class="fas fa-exclamation fa-xs"></i> Your Email-ID already Used.</div>

                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-phone"></span>
                                </span>
                            </div>
                            @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control Contact", placeholder = "Contact Number" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group Create" style="display:none">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user-circle"></i>

                                </span>
                            </div>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control usrnm", placeholder = "User Name", onKeyPress = "CheckEmailIdExistorNot()" } })
                            <div class="d-flex align-items-center" style="">
                                <i id="Valid" class="fas fa-check-circle text-success" style="display:none;   margin-left:10px;"></i>
                                <i id="Invalid" class="fas fa-exclamation-circle text-danger" style="display:none;margin-left:10px;"></i>
                            </div>

                            @*@*Your Email Is Verified!*@


                        </div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                        <div class="text-danger" style="display:none;" id="wrong"><i class="fas fa-exclamation fa-xs"></i> Your User-Name already Used.</div>



                    </div>

                    <div class="form-group Create" style="display:none">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-key"></i>

                                </span>
                            </div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control Password", placeholder = "Password" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group Create" style="display:none">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-check-circle"></i>

                                </span>
                            </div>
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control ConfirmPassword", placeholder = "Confirm Password" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group Edit">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-sync"></i>
                                </span>
                            </div>

                            @Html.DropDownListFor(model => model.ActiveStatus, ViewBag.ActStatusList as SelectList, "Select Status", new { @class = "form-control ActiveStatus" })
                        </div>
                        @Html.ValidationMessageFor(model => model.ActiveStatus, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <button class="btn btn-info form-control Create" type="submit" id="myWish" formaction="/Admin/AddRegistrationDetails" style="display:none;"><i class="glyphicon glyphicon-registration-mark"></i> Submit</button>
                        <button class="btn btn-info form-control Edit" type="submit" formaction="/Admin/EditRegistrationDetails" style="display:none;"><i class="glyphicon glyphicon-registration-mark"></i> Update</button>
                    </div>

                    @*</form>*@

                }

            </div>
        </div>
    </div>
</div>

@*End of the modal*@



<script>
    function Create() {
        $("#ShowModal").modal();
        $(".Edit").hide();
        $(".Create").show();

        $('.Name').val("");
        $('EmailID').val("");
        $('Contact').val("");
        $('UserName').val("");
        $('Password').val("");
        $('RegisteredDate').val("");
        $('.ActiveStatus').val("");
    }
    function Edit(ID) {

        $("#ShowModal").modal();
        $(".Create").hide();
        $(".Edit").show();






        $.ajax({

            url: "/Admin/FetchRegistDetails/" + ID,

            typr: "GET",

            contentType: "application/json;charset=UTF-8",

            dataType: "json",



            success: function (result) {

                $('.RID').val(result.RID);
                $('.Name').val(result.Name);
                $('.EmailID').val(result.EmailID);
                $('.Contact').val(result.Contact);
                $('.usrnm').val(result.UserName);
                $('.Password').val(result.Password);
                $('.ConfirmPassword').val(result.Password);
                $('.RegisteredDate').val(result.RegisteredDate);
                $('.ActiveStatus').val(result.ActiveStatus);


            },


        });

        return false;

    }





@* <----------- UserName Exist Or Not --------->*@
function CheckEmailIdExistorNot() {

    var empObj = {
        UserName: $('.usrnm').val(),
    };

    $.ajax({
        url: "/Admin/EmailIDExistOrNot",
        data: JSON.stringify(empObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {

            if (result == 0) {
                $('.usrnm').val('');
                $('#Valid').hide();
                $('#Invalid').show();

                $('#wrong').show();
            }
            else {
                $('#wrong').hide();
                $('#Invalid').hide();
                $('#Valid').show();



            }
        },
    });
}

@* <----------- End UserName Exist Or Not --------->*@


@* <----------- EmailID Exist Or Not --------->*@
function CheckEmailIdExistorNots() {

    var empObj = {
        UserName: $('.Eemail').val(),
    };

    $.ajax({
        url: "/Admin/EmailIDExistOrNots",
        data: JSON.stringify(empObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {

            if (result == 0) {
                $('.Eemail').val('');
                $('#EValid').hide();
                $('#EInvalid').show();

                $('#Ewrong').show();
            }
            else {
                $('#Ewrong').hide();
                $('#EInvalid').hide();
                $('#EValid').show();



            }
        },
    });
}

@* <----------- End EmailID Exist Or Not --------->*@


</script>

