
@{
    ViewBag.Title = "Total_Amt_Sale_Gst_Report";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




@{

    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["Role"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>

</head>
<body>

    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>

  
    <section class="section alert-section">
        <div class="alert alert-info" style="background:#29d2e4;">
            <div class="alert-container">

                <i class="fa fa-info-circle"></i>
                <b class="alert-info" style="background:#29d2e4">Info alert:</b> You've got some friends nearby, stop looking at your phone and find them...
            </div>
        </div>
    </section>



    <div class="p-2">


        <div id="fieldsets">

            <fieldset class="box">
                <legend class="box">Total Amt Report !</legend>


                <form action="/Admin/Total_Amt_Sale_Gst_Report" method="post">

                    <div class="form-row">


                        @*<div class="form-group col-md-3">
                                <div class="">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-user-check" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                            </span>
                                        </div>
                                        @Html.DropDownList("CustId", ViewBag.SuppCustList as SelectList, "-- Select Name --", new { @class = "form-control", required = "required" })

                                    </div>
                                </div>
                            </div>*@

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>

                                    @{
                                        DateTime dt = DateTime.Now;
                                    }

                                    <input type="date" name="Fdate" id="Fdate" value="@dt.ToString("yyyy-MM-dd")" onchange="BetweenDate()" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="form-control border-0 text-center" style="font-weight:600;font-size:17px"> To </label>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>
                                        </span>
                                    </div>

                                    <input type="date" name="Ldate" id="Ldate" onchange="BetweenDate()" value="@dt.ToString("yyyy-MM-dd")" class="form-control" required />

                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-2">
                            <div class="">
                                <input type="submit" id="BtnSubmit" value="Search" class="btn btn-info" />
                            </div>
                        </div>
                    </div>

                </form>



            </fieldset>

        </div>







        <div style="width:50%;margin-top:50px;">
            <button type="button" id="Btnhide" class="btn btn-info btn-md mr-2" onclick="window.print()"><i class="fas fa-print"></i> PDF</button>
        </div>


        @if (ViewBag.ListTotlAmt != null)
        {

            if (ViewBag.ListTotlAmt.Count != 0)
            {





                <h2 class="text-center">
                    Total Amt Report
                </h2>



                <div class="print" id="printableArea">

                    <div style="border:2px solid;padding:10px">
                        @{
                            decimal FinalTotal = 0;
                        }




                        <table class="ProductTbl" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        Bill No
                                    </th>
                                    <th>
                                        Final Amt (Rs)
                                    </th>

                                </tr>
                            </thead>

                            <tbody>



                                @foreach (var item in ViewBag.ListTotlAmt)
                                {
                                    <tr>
                                        <td>
                                            <b style="font-weight:600;color:red;">@item.SaleGST_BillNo</b>
                                        </td>
                                        <td style="font-weight:600">
                                            @{
                                                FinalTotal += item.SaleGST_Total;
                                            }


                                            @item.SaleGST_Total

                                        </td>

                                    </tr>
                                }



                            </tbody>
                        </table>


                        <div style="margin-top:10px">
                            <b>Total Purchase Amount (Rs):-  </b>  <b style="font-weight:600">@FinalTotal</b>
                        </div>
                        <br />
                    </div>

                </div>

                <br />
                <hr style="border: 2px solid;" />

                <br />
            }
            else
            {
                <h4 class="text-center text-danger" style="border:1px solid #ddd;font-weight:600;margin-top:15px">Data is Not Available </h4>
            }



        }

    </div>

    @*<script>
        $(document).ready(function() {
        var PrintValue = "@ViewBag.Printf";

        if (PrintValue == "print")
        {
        window.print();
        }


        })
        </script>*@




    <style type="text/css">
        @@media print {

            #Btnhide, #fieldsets {
                display: none;
            }
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            width: 100%;
        }
    </style>

    <style>
        fieldset {
            border: 1px solid #ddd;
            border-left: 1px solid #ddd;
            padding: 6px;
            margin-bottom: 5px;
            width: 100%;
        }

        legend {
            width: auto;
            font-size: 15px;
            font-weight: 500;
        }

        #main:hover .box {
            border-color: #1b76c4;
        }
    </style>


</body>
</html>

