
@{
    ViewBag.Title = "Transaction_CustNameFromDateBillNoPayStatus_Purchase_Report";
   // Layout = null;
}
@{ 
    decimal Paystatus = Convert.ToDecimal(ViewBag.PayStId);
}

@{

    // Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Session["Role"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}



<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>


</head>
<body>


    <style>
        table, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>


    <section class="section alert-section">
        <div class="alert alert-info" style="background:#29d2e4;">
            <div class="alert-container">

                <i class="fa fa-info-circle"></i>
                <b class="alert-info" style="background:#29d2e4">Info alert:</b> You've got some friends nearby, stop looking at your phone and find them...
            </div>
        </div>
    </section>




    <div class="p-2">


        <div id="fieldsets">

            <fieldset class="box">
                <legend class="box">Transaction Purchase Report !</legend>

                <div id="myRadioGroup" style="margin-bottom:20px">
                    <b style="font-weight:600">Select searching options : </b>
                    <input type="radio" name="cars" value="2" />  Customer Name
                    <input type="radio" name="cars" value="4" />  Date wise
                    <input type="radio" name="cars" value="3" /> Bill No
                </div>

                <script>
                    $(document).ready(function () {
                        $("input[name$='cars']").click(function () {
                            var test = $(this).val();

                            $("div.desc").hide();
                            $("#Cars" + test).show();
                        });
                    });
                </script>

                <form action="/Admin/Transaction_CustNameFromDateBillNoPayStatus_Purchase_Report" method="post">

                    <div class="form-row desc" id="Cars2" style="display: none;">

                        <input type="hidden" name="Billno" id="Billno" value="" class="form-control" required />

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-check" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>
                                    @Html.DropDownList("CustId", ViewBag.SuppCustList as SelectList, "-- Select Name --", new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>
                                    @*@Html.EditorFor(model => model.ComBiNo_BillID, new { htmlAttributes = new { @class = "form-control CBID", @readonly = "readonly" } })*@
                                    @{
                                        DateTime dt = DateTime.Now;
                                    }



                                    <input type="date" name="Fdate" id="Fdate" value="@dt.ToString("yyyy-MM-dd")" onchange="BetweenDate()" class="form-control" required />

                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="form-control border-0 text-center" style="font-weight:600;font-size:17px"> To </label>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>
                                        </span>
                                    </div>
                                    <input type="date" name="Ldate" id="Ldate" onchange="BetweenDate()" value="" class="form-control" required />
                                    <script>
                                        document.getElementById('Ldate').value = new Date().toISOString().substring(0, 10);
                                    </script>
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-check" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>
                                    @Html.DropDownList("PayStId", ViewBag.PaymentStatusList as SelectList, "-- Select Payment Status --", new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-2">
                            <div class="">
                                <input type="submit" id="BtnSubmit" value="Search" class="btn btn-info" />
                            </div>
                        </div>
                    </div>

                </form>

                <form action="/Admin/Transaction_CustNameFromDateBillNoPayStatus_Purchase_Report" method="post">

                    <div class="form-row desc" id="Cars4" style="display: none;">

                        <input type="hidden" name="Billno" id="Billno" value="" class="form-control" required />

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-calendar-alt" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>
                                    @*@Html.EditorFor(model => model.ComBiNo_BillID, new { htmlAttributes = new { @class = "form-control CBID", @readonly = "readonly" } })*@

                                    <input type="date" name="Fdate" id="Fdate" value="@dt.ToString("yyyy-MM-dd")" onchange="BetweenDate()" class="form-control" required />
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-md-1">
                            <label class="form-control border-0 text-center" style="font-weight:600;font-size:17px"> To </label>
                        </div>

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-calendar-alt"></span>
                                        </span>
                                    </div>
                                    <input type="date" name="Ldate" id="Ldate" onchange="BetweenDate()" value="@dt.ToString("yyyy-MM-dd")" class="form-control" required />

                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user-check" style="font-size:24px;padding-left:1px;padding-right:5px"></i>
                                        </span>
                                    </div>
                                    @Html.DropDownList("PayStId", ViewBag.PaymentStatusList as SelectList, "-- Select Payment Status --", new { @class = "form-control", required = "required" })

                                    @*<input type="date" name="Fdate" id="Fdate" value="" onchange="BetweenDate()" class="form-control" />*@

                                </div>
                            </div>
                        </div>


                        <div class="form-group col-md-2">
                            <div class="">
                                <input type="submit" id="BtnSubmit" value="Search" class="btn btn-info" />
                            </div>
                        </div>
                    </div>

                </form>

                <form action="/Admin/Transaction_CustNameFromDateBillNoPayStatus_Purchase_Report" method="post">

                    <div class="form-row desc" id="Cars3" style="display: none;">

                        <div class="form-group col-md-3">
                            <div class="">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <span class="fas fa-money-check"></span>
                                        </span>
                                    </div>
                                    <input type="text" name="Billno" id="Billno" value="" class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <div class="">
                                <input type="submit" id="BtnSubmit" value="Search" class="btn btn-info" />
                            </div>
                        </div>

                    </div>

                </form>
            </fieldset>

        </div>


        <div style="width:50%;margin-top:50px;">
            <button type="button" id="Btnhide" class="btn btn-info btn-md mr-2" onclick="window.print()"><i class="fas fa-print"></i> PDF</button>
        </div>




        @if (ViewBag.BillNoCustInfo != null)
        {

            if (ViewBag.BillNoCustInfo.Count != 0)
            {


                <h2 class="text-center">
                    Payment Purchase Report
                </h2>

                foreach (var itemInfo in ViewBag.BillNoCustInfo)
                {

                    string BillNoChk = itemInfo.TranBillNo;


                    decimal BillAmt = 0;
                    decimal TotlRecAmt = 0;

                    <div class="print" id="printableArea">

                        <div style="border:2px solid;padding:10px">


                            @foreach (var item in ViewBag.BillNoCustInfo)
                            {


                                if (item.TranBillNo == BillNoChk)
                                {
                                    <div style="width:100%;">
                                        <div style="float:left;"> <b>Bill No : </b> <b style="font-weight:600;color:red">@item.TranBillNo</b> </div>
                                        <div style="float:right;"> <b>Purchase Date : </b>   <b style="font-weight:600">@Convert.ToDateTime(item.PurDate).ToString("dd-MM-yyyy")</b> </div>

                                    </div>
                                    <br />
                                    <div>
                                        <b>Name : </b> <b style="font-weight:600">@item.CustName</b><br />
                                        <b>Bill Amt (Rs) : </b> <b style="font-weight:600">
                                            @item.BillAmt

                                            @{
                                                BillAmt = item.BillAmt;
                                            }

                                        </b>
                                    </div>
                                }

                            }
                            <br />

                            <table class="ProductTbl" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Transaction ID
                                        </th>
                                        <th>
                                            Received Amt (Rs)
                                        </th>
                                        <th>
                                            Payment Method
                                        </th>
                                        <th>
                                            Cheque No
                                        </th>
                                        <th>
                                            Note
                                        </th>
                                        <th>
                                            Date
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in ViewBag.BillNoPaymentTransaction)
                                    {

                                        if (item.TranBillNo == BillNoChk)
                                        {

                                            <tr>
                                                <td>
                                                    @item.TranId
                                                </td>
                                                <td>
                                                    @item.TranReciAmt
                                                    @{
                                                        TotlRecAmt += item.TranReciAmt;
                                                    }
                                                </td>
                                                <td>
                                                    @item.PayMethod
                                                </td>
                                                <td>
                                                    @item.ChequeNo
                                                </td>
                                                <td>
                                                    @item.TranNote
                                                </td>
                                                <td>
                                                    @Convert.ToDateTime(item.TranDate).ToString("dd-MM-yyyy")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <br />

                            <div>
                                @*@foreach (var item in ViewBag.Outstand)
                                    {
                                        if (item.TranBillNo == BillNoChk)
                                        {*@

                                <b>Total Received Amt (Rs) : </b> <b style="font-weight:600;">@TotlRecAmt</b> <br />
                                <b>Outstanding Amt (Rs) : </b>    <b style="font-weight:600;">

                                    @{
                                        decimal Outstand = BillAmt - TotlRecAmt;
                                    }
                                    @Outstand
                                </b>


                                @*}
                                    }*@
                            </div>

                            <br style="clear:both" />
                        </div>

                    </div>

                    <br />
                    <hr style="border: 2px solid;" />
                    <br />


                }
            }
            else
            {
                <h4 class="text-center text-danger" style="border:1px solid #ddd;font-weight:600;margin-top:15px">Data is Not Available ...</h4>
            }

        }





















































        @if (ViewBag.CustInfo != null)
        {
            if (ViewBag.CustInfo.Count != 0)
            {

                <h2 class="text-center">
                    Payment Purchase Report
                </h2>

                foreach (var itemInfo in ViewBag.CustInfo)
                {
                    string BillNoChk = itemInfo.TranBillNo;

                    decimal BillAmt = 0;
                    decimal TotlRecAmt = 0;

                    decimal Outstandss = 0;

                    decimal TotlRecAmtss = 0;



                    decimal BillAmtOutstand;

                    decimal TotlReceivedAmt;

                    decimal Outstand;



                    foreach (var item in ViewBag.CustInfo)
                    {

                        BillAmtOutstand = item.BillAmt;
                        TotlReceivedAmt = 0;

                        if (item.TranBillNo == BillNoChk)
                        {


                            foreach (var item1 in ViewBag.PaymentTransaction)
                            {
                                if (item1.TranBillNo == BillNoChk)
                                {
                                    TotlRecAmt += item1.TranReciAmt;
                                }
                            }


                            @*<h1>Outstand Amt : @BillAmtOutstand</h1>
                                <h1>Received : @TotlRecAmt</h1>*@
                            Outstand = BillAmtOutstand - TotlRecAmt;
                            @*<h1>Outstand : @Outstand</h1>*@

                            if (Paystatus == 1)
                            {
                                if (Outstand == 0)
                                {
                                    <div class="print" id="printableArea">
                                        <div style="border:2px solid;padding:10px">

                                            <div style="width:100%;">
                                                <div style="float:left;"> <b>Bill No : </b> <b style="font-weight:600;color:red">@item.TranBillNo</b> </div>
                                                <div style="float:right;"> <b>Purchase Date : </b>   <b style="font-weight:600">@Convert.ToDateTime(item.PurDate).ToString("dd-MM-yyyy")</b> </div>
                                            </div>
                                            <br />
                                            <div>
                                                <b>Name : </b> <b style="font-weight:600">@item.CustName</b><br />
                                                <b>Bill Amt (Rs) : </b> <b style="font-weight:600">
                                                    @item.BillAmt
                                                    @{
                                                        BillAmt = item.BillAmt;
                                                    }
                                                </b>
                                            </div>

                                            <br />


                                            <table class="ProductTbl" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Transaction ID
                                                        </th>
                                                        <th>
                                                            Received Amt (Rs)
                                                        </th>
                                                        <th>
                                                            Payment Method
                                                        </th>
                                                        <th>
                                                            Cheque No
                                                        </th>
                                                        <th>
                                                            Note
                                                        </th>
                                                        <th>
                                                            Date
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item2 in ViewBag.PaymentTransaction)
                                                    {

                                                        if (item2.TranBillNo == BillNoChk)
                                                        {




                                                            <tr>
                                                                <td>
                                                                    @item2.TranId
                                                                </td>
                                                                <td>
                                                                    @item2.TranReciAmt
                                                                    @{
                                                                        TotlRecAmtss += item2.TranReciAmt;
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @item2.PayMethod
                                                                </td>
                                                                <td>
                                                                    @item2.ChequeNo
                                                                </td>
                                                                <td>
                                                                    @item2.TranNote
                                                                </td>
                                                                <td>
                                                                    @Convert.ToDateTime(item2.TranDate).ToString("dd-MM-yyyy")
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <br />

                                            <div>

                                                <b>Total Received Amt (Rs) : </b> <b style="font-weight:600;">@TotlRecAmt</b> <br />
                                                <b>Outstanding Amt (Rs) : </b>    <b style="font-weight:600;">

                                                    @{
                                                        Outstandss = BillAmt - TotlRecAmt;
                                                    }

                                                    @Outstandss
                                                </b>

                                            </div>













                                            <br />
                                            <br style="clear:both" />
                                        </div>
                                    </div>
                                    <br />
                                    <hr style="border: 2px solid;" />
                                    <br />
                                }
                            }


                            if (Paystatus == 2)
                            {
                                if (Outstand > 0)
                                {
                                    <div class="print" id="printableArea">
                                        <div style="border:2px solid;padding:10px">

                                            <div style="width:100%;">
                                                <div style="float:left;"> <b>Bill No : </b> <b style="font-weight:600;color:red">@item.TranBillNo</b> </div>
                                                <div style="float:right;"> <b>Purchase Date : </b>   <b style="font-weight:600">@Convert.ToDateTime(item.PurDate).ToString("dd-MM-yyyy")</b> </div>
                                            </div>
                                            <br />
                                            <div>
                                                <b>Name : </b> <b style="font-weight:600">@item.CustName</b><br />
                                                <b>Bill Amt (Rs) : </b> <b style="font-weight:600">
                                                    @item.BillAmt
                                                    @{
                                                        BillAmt = item.BillAmt;
                                                    }
                                                </b>
                                            </div>

                                            <br />


                                            <table class="ProductTbl" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Transaction ID
                                                        </th>
                                                        <th>
                                                            Received Amt (Rs)
                                                        </th>
                                                        <th>
                                                            Payment Method
                                                        </th>
                                                        <th>
                                                            Cheque No
                                                        </th>
                                                        <th>
                                                            Note
                                                        </th>
                                                        <th>
                                                            Date
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var item2 in ViewBag.PaymentTransaction)
                                                    {

                                                        if (item2.TranBillNo == BillNoChk)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @item2.TranId
                                                                </td>
                                                                <td>
                                                                    @item2.TranReciAmt
                                                                    @{
                                                                        TotlRecAmtss += item2.TranReciAmt;
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @item2.PayMethod
                                                                </td>
                                                                <td>
                                                                    @item2.ChequeNo
                                                                </td>
                                                                <td>
                                                                    @item2.TranNote
                                                                </td>
                                                                <td>
                                                                    @Convert.ToDateTime(item2.TranDate).ToString("dd-MM-yyyy")
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                            <br />

                                            <div>

                                                <b>Total Received Amt (Rs) : </b> <b style="font-weight:600;">@TotlRecAmt</b> <br />
                                                <b>Outstanding Amt (Rs) : </b>    <b style="font-weight:600;">

                                                    @{
                                                        Outstandss = BillAmt - TotlRecAmt;
                                                    }

                                                    @Outstandss
                                                </b>

                                            </div>

                                            <br />
                                            <br style="clear:both" />
                                        </div>
                                    </div>
                                    <br />
                                    <hr style="border: 2px solid;" />

                                    <br />
                                }
                            }


                        }
                    }

                }
            }
            else
            {
                <h4 class="text-center text-danger" style="border:1px solid #ddd;font-weight:600;margin-top:15px">Data is Not Available ...</h4>
            }


        }







    </div>

    @*<script>
        $(document).ready(function() {
        var PrintValue = "@ViewBag.Printf";

        if (PrintValue == "print")
        {
        window.print();
        }
        })
        </script>*@




    <style type="text/css">
        @@media print {

            #Btnhide, #fieldsets {
                display: none;
            }
        }

        table, td, th {
            border: 1px solid;
        }

        table {
            width: 100%;
        }
    </style>

    <style>
        fieldset {
            border: 1px solid #ddd;
            border-left: 1px solid #ddd;
            padding: 6px;
            margin-bottom: 5px;
            width: 100%;
        }

        legend {
            width: auto;
            font-size: 15px;
            font-weight: 500;
        }

        #main:hover .box {
            border-color: #1b76c4;
        }
    </style>


</body>
</html>
